{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 * - level: The menu level where the tab is rendered.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
<li{{ attributes.addClass('tw-bg-gray-200', 'tw-bg-opacity-50', 'tw-rounded-sm', 'tw-p-2', 'tabs__tab', 'js-tab', is_active ? 'is-active', is_active ? 'js-active-tab') }}>
  {{ link }}
  {% if is_active and level == 'primary' %}
    <button class="reset-appearance tabs__trigger" aria-label="{{ 'Tabs display toggle'|t }}" data-drupal-nav-tabs-trigger>
      {% include "@claro/../images/src/hamburger-menu.svg" %}
    </button>
  {% endif %}
</li>
