{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}


<form class="tw-m-16"{{ attributes }} >
  <h3>Demande d'adhésion</h3>
  {{ children }}
</form>
