{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<div{{ attributes }} class="tw-flex tw-flex-col tw-bg-white tw-m-3 tw-mb-16">
  <a href="{{ url }}">
  {{ title_prefix }}
  {% if name and not page  %}
    <div class="tw-h-20 tw-flex tw-items-center tw-justify-center tw-bg-argile-500 ">
      <h5 class="tw-text-sable-500" {{ title_attributes }}>
        {{ name }}
      </h5>
    </div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div >
      <div class="tw-m-8 tw-text-base">
        {{ content.description }}
      </div>
      <div class="tw-m-8">
        {{ content.field_image}}
      </div>
      <div class="tw-m-8 tw-text-right tw-text-base">
        {{ content.field_card_link }}
      </div>
    </div>
  {% endblock %}
  </a>
</div>
