{% extends "block.html.twig" %}

{% set linkLabel = content.field_1col_link[0]['#title'] %}
{% set linkTarget = content.field_1col_link[0]['#url'] %}


{% block content %}

  <div class="tw-m-3 tw-mb-16">
    {{ content.field_1col_body }}
    {% if content.field_1col_link['#items'].getValue() %}
      {% if content.field_1col_cta.value == '1' %}
        {# <div> checked</div> #}
        <a href="{{ linkTarget }}" class="cta">{{ linkLabel }}</a>
      {% else %}
        {# <div>not checked</div> #}
        {{ content.field_1col_link }}
      {% endif %}
    {% endif %}
  </div>

{% endblock %}
