{% extends "block.html.twig" %}

{% set linkLabel = content.field_2cols_link[0]['#title'] %}
{% set linkTarget = content.field_2cols_link[0]['#url'] %}

{% set selectedPosition = content.field_title_pos[0].value %}


{%
  set classes = [
  'cols2',
]
%}
{% block content %}

  <div class="tw-m-3 tw-mb-16">

      <div class="title {{ selectedPosition }}">
        {% if content.field_2cols_title %}
          <h2>{{ content.field_2cols_title }}</h2>
        {% endif %}
      </div>
      <div class="argument arg-1">
        {{ content.field_2cols_body }}
        {% if content.field_2cols_link['#items'].getValue() %}
          {% if content.field_2cols_cta.value == '0' %}
            {# <div>not checked</div> #}
            <a href="{{ linkTarget }}" class="cta">{{ linkLabel }}</a>
          {% else %}
            {# <div>checked</div> #}
            {{ content.field_2cols_link }}
          {% endif %}
        {% endif %}
      </div>
      <div class="argument arg-2">
        {{ content.field_2cols_body2 }}
      </div>
  </div>
{% endblock %}
