{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div{{ attributes }} class="tw-flex tw-flex-col tw-bg-white tw-m-3 tw-mb-16">
  {{ title_prefix }}
  {% if label %}
  <div class="tw-h-20 tw-flex tw-items-center tw-justify-center tw-bg-argile-500 ">
    <h5 class="tw-text-sable-500" {{ title_attributes }}>
      {{ label }}
    </h5>
  </div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div >
      <div class="tw-m-8 tw-text-base tw-h-20">
        {{ content.field_card_desc }}
      </div>
      <div class="tw-m-8">
        {{ content.field_card_img }}
      </div>
      <div class="tw-m-8 tw-text-right tw-text-base">
        {{ content.field_card_link }}
      </div>
    </div>
  {% endblock %}
</div>
