{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="tw-bg-local tw-bg-no-repeat md:tw-bg-contain tw-bg-right-top" style="background-size: auto 55%;z-index: -20;background-image: url({{'/' ~ directory ~ '/assets/svg/bg-ellipse-header.svg'}});">
  <div class="tw-shadow-md tw-bg-sable-500 md:tw-sticky tw-top-0 tw-flex tw-z-1000 tw-w-screen tw-h-24">
    <div class="navbar tw-container tw-mx-auto" id="navbar">
      {{ page.nav }}
      <a class="close md:tw-hidden" href="#ham">
        {% include "@dpedr_theme/../assets/svg/ham-close.svg" %}
      </a>
    </div>
    <a class="hamburger md:tw-hidden" id="ham" href="#navbar">
      {% include "@dpedr_theme/../assets/svg/ham-open.svg" %}
    </a>
  </div>

  <header role="banner" class="tw-bg-local tw-bg-no-repeat md:tw-bg-contain tw-bg-right-top" style="background-size: auto 55%;z-index: -20;background-image: url({{'/' ~ directory ~ '/assets/svg/bg-ellipse-header.svg'}});">
    {{ page.header }}
  </header>

  <div id="main-content" class="tw-bg-local md-max:tw-bg-cover tw-bg-no-repeat md:tw-bg-right-top">
  <div class="tw-container tw-mx-auto">
    <main role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <div class="md:tw-flex tw-mx-4">
        <div class="md:tw-flex-1 md:tw-p-4">
          {{ page.content }}
        </div>{# /.layout-content #}
      </div>
    </main>
  </div>{# /.layout-container #}
  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
  </div>
</div>
