{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes }}>

  <div class="tw-flex tw-flex-col tw-bg-white">
    {% if not page %}
      <div class="tw-h-16 tw-flex tw-items-center tw-justify-center tw-bg-poudre-700 ">
        <h5 class="tw-flex tw-text-sable-500" {{ title_attributes }}>
          {{ content.field_first_name }}&nbsp;{{ content.field_last_name }}
        </h5>
      </div>
    {% endif %}

    <div class="tw-flex tw-flex-col tw-items-center tw-justify-center" {{ content_attributes.addClass('node-content') }}>
      <div class="tw-m-5 tw-text-base tw-flex tw-flex-col tw-items-center tw-justify-center">
        {{ content.field_user_pseudo_discord }}
        {{ content.field_user_work_group }}
      </div>
      <div class="tw-m-5">
        {{ content.user_picture }}
      </div>
    </div>
  </div>
</article>
