<div class="tw-flex tw-flex-col">
  <div class="bg-curled-path tw-my-16"><h2>Contact</h2></div>
  <div class="md-max:tw-hidden" style="min-height: 400px;">
    <div class="tw-my-8">
      <h3>du Pain & des Roses ASBL</h3>
      <p>Épicerie coopérative & participative montoise</p>
    </div>
    <div class=" md-max:tw-flex-col tw-flex tw-flex-row tw-w-full tw-justify-between tw-flex-wrap">
      <div class="tw-flex tw-mx-auto tw-w-2/3 md:tw-my-4 tw-flex md:tw-w-5/12">
        <span class="tw-mx-6">{% include "@dpedr_theme/../assets/svg/place-icon-little.svg" %}</span>
        <div>6 rue de la Grande Triperie, 7000 Mons</div>
      </div>
      <div class="tw-flex tw-mx-auto tw-w-2/3 md:tw-my-4 tw-flex md:tw-w-5/12">
        N° d’entreprise: 0750.975.285.</div>
      <a class="tw-flex tw-mx-auto tw-w-2/3 md:tw-my-4 tw-flex md:tw-w-5/12" href="mail:dupainetdesroses@protonmail.com">
        <span class="tw-mx-6">{% include "@dpedr_theme/../assets/svg/mail-little.svg" %}</span>
        <div style="min-width:0;">dupainetdesroses@protonmail.com</div>
      </a>
      <div class="tw-flex tw-mx-auto tw-w-2/3 md:tw-my-4 tw-flex md:tw-w-5/12">
        N° de compte : BE13 1262 0925 5039</div>

      <a class="tw-flex tw-mx-auto tw-w-2/3 md:tw-my-4 tw-flex md:tw-w-5/12" href="tel:065-45-86-58">
        <span class="tw-mx-6">{% include "@dpedr_theme/../assets/svg/phone-little.svg" %}</span>
        <div>065 45 86 58</div>
      </a>
      <div class="tw-flex tw-mx-auto tw-w-2/3 md:tw-my-4 tw-flex md:tw-w-5/12">
        RPM Mons</div>
    </div>
  </div>
  <div class="md:tw-hidden" style="min-height: 400px;">
    <div class="tw-my-8">
      <h3>du Pain & des Roses ASBL</h3>
      <p>Épicerie coopérative & participative montoise</p>
    </div>
    <div class="md-max:tw-flex-col tw-flex tw-flex-row tw-w-full tw-justify-between tw-flex-wrap">
      <div class="tw-flex tw-mx-auto tw-w-full tw-my-4 tw-flex">
        <span class="tw-mx-6">{% include "@dpedr_theme/../assets/svg/place-icon-little.svg" %}</span>
        <div>6 rue de la Grande Triperie, 7000 Mons</div>
      </div>
      <a class="tw-flex tw-mx-auto tw-w-full tw-my-4 tw-flex"  href="mailto:dupainetdesroses@protonmail.com">
        <span class="tw-mx-6">{% include "@dpedr_theme/../assets/svg/mail-little.svg" %}</span>
        <div style="min-width:0;">dupainetdesroses@protonmail.com</div>
      </a>
      <a class="tw-flex tw-mx-auto tw-w-full tw-my-4 tw-flex" href="tel:065-45-86-58">
        <span class="tw-mx-6">{% include "@dpedr_theme/../assets/svg/phone-little.svg" %}</span>
        <div>065 45 86 58</div>
      </a>
      <hr style="  border: 0.75px solid #E7B4DE;
">
      <div class="tw-flex tw-mx-auto tw-w-full tw-my-4 tw-flex ">
        N° d’entreprise: 0750.975.285.</div>
      <div class="tw-flex tw-mx-auto  tw-my-4 tw-flex ">
        N° de compte : BE13 1262 0925 5039</div>
      <div class="tw-flex tw-mx-auto tw-w-full tw-my-4 tw-flex ">
        RPM Mons</div>
    </div>
  </div>
</div>
