<div style="background: #F6EBF4; min-height: 15vh;" class="tw-flex md-max:tw-flex-wrap tw-flex-row tw-justify-between tw-w-full">
  <div class="md-max:tw-hidden tw-w-6/12 tw-flex tw-items-center tw-mx-20">{% include "@dpedr_theme/../assets/svg/logo-green.svg" %}</div>
  <div class="tw-w-6/12 md-max:tw-w-full tw-flex tw-items-center md:tw-mx-20 tw-justify-between md-max:tw-flex-wrap">
    <a href="tel:065-45-86-58" class="tw-flex-grow tw-mx-4"><img src="/themes/custom/dpedr_theme/assets/img/phone.png"></a>
    <a href="mailto:dupainetdesroses@protonmail.com" class="tw-flex-grow tw-mx-4"><img src="/themes/custom/dpedr_theme/assets/img/mail.png"></a>
    <a target="_blank" href="https://www.instagram.com/dupainetdesrosesmons/?fbclid=IwAR3-hg_Aham4lwXUc9sbq6cf5Ba6zwW0CGKIUoAZaVP5Q9HkqrtCnHR3JCE" class="tw-flex-grow tw-mx-4"><img src="/themes/custom/dpedr_theme/assets/img/insta.png"></a>
    <a target="_blank" href="https://www.facebook.com/Du-Pain-des-Roses-Espacerie-coop%C3%A9rative-et-participative-montoise-114070946616822" class="tw-flex-grow tw-mx-4"><img src="/themes/custom/dpedr_theme/assets/img/fb.png"></a>
  </div>
</div>
