.anchors-nav-toggle::after {
  display: block;
  content: ' ';
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  background-image: url("/themes/custom/dpedr_theme/assets/svg/arrow.svg");
}
